@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-border {
    border: 4px solid transparent;
    border-radius: 0.5rem; /* Adjust border-radius as needed */
    background-clip: padding-box, border-box;
    background-origin: border-box;
    background-image: linear-gradient(black, black), linear-gradient(to right, #45E1E5, #0052FF, #B82EA4, #FF9533, #7FD057, #45E1E5);
  }